Django
psycopg2-binary
python-dotenv
django-crispy-forms
crispy_bootstrap5
requests>=2.31.0 
cryptography
PyJWT
pycparser==2.22
django-allauth

cloudinary>=1.41
django-cloudinary-storage>=0.3.0

gunicorn==21.2.0

whitenoise==6.7.0
